#console {

  border-radius: $border-radius;
  background: $console-color;
  width: auto;
  padding: 20px;

  #screen {
    padding: 20px;
    background: $screen-color;
    border: 20px solid #434244;
    border-radius: 10px;
    overflow: hidden;
    position:relative;
    width: 300px;
    height: 300px;

    >div {
      mix-blend-mode: luminosity;
      width: 300px;
      height: 300px;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat;
    }

    img.pony {
      width:auto;
      height: 180px;
    }

    #maze {

      width: 100%;
      height: 100%;
      border-bottom: 2px solid $button-color;
      border-right: 2px solid $button-color;

      .cell {
        float: left;
        box-sizing: border-box;
      }

      .cell.north {
        border-top: 2px solid $button-color;
      }

      .cell.west {
        border-left: 2px solid $button-color;
      }

      .cell.east {
        border-right: 2px solid $button-color;
      }

      .cell.south {
        border-bottom: 2px solid $button-color;
      }

    }

  }

  label {
    display: flex;
  }

  #controls {

    padding: 30px 20px;

    button {
      width: 30px;
      height: 30px;
      background: $button-color;
      border-radius: $border-radius/2;
      color: $button-text-color;
      border: none;
      margin: 2px;
    }

    #north, #south {
      margin-left: 36px;
      display: block;
    }

    #star {
      border-radius: 50px;
      width: 50px;
      height: 50px;
      float:right;
      margin-top:10px;
    }

    #cross {
      border-radius: 35px;
      width: 35px;
      height: 35px;
      float:right;
      margin-top:50px;
    }

  }
}
