$text-color: #434244;
$screen-color: #bbc7a2;
$border-color: #885299;
$console-color: #cb2e2b;
$button-color: #434244;
$button-text-color: #ffffff;
$border-radius: 20px;

body {
  background: url('img/background.jpg');
  font-family: monospace;
  color: $text-color;
  display: flex;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

#root {
  display: flex;
  justify-content: center;
  margin:auto;
}

.clearFix {
  clear: both;
}

h1, h2, h3, p {
  margin:0;
}

/* Alignments */

.center {
  text-align:center;
}

.bottom {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
}

/* Headings */

h1 {
  padding-bottom: 20px;
  white-space: pre;
}

h2 {
  padding-bottom: 10px;
}

h3 {
  font-size: 185px;
}

p {
  padding: 2px 0;
  width: 100%;
}

img {
  width: 100%
}

/* Console */

@import './scss/console';

/* Effects */

@import './scss/effects';

/* Responsive */

@import './scss/responsive';
